// Core variables and mixins
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: #434343 url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

.logo-image {
  display: none;
}

a {
  color: #AFD551;
  &:hover {
    color: #97be53;
  }
}

$bounds-controller-size: 10px;
$canvas-element-border-size: 2px;

.btn {
  @include border-top-radius(0);
  @include border-bottom-radius(0);
  font-size: 1em;
}

.canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

#loading-cover {
  position:absolute;
  background: #434343 url('../img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:99999;
  text-align: center;
  color: #ccc;
  padding-top: 20px;

  h2 {
    font-weight: bold;
  }

  .loading-disclaimer {

  }
}

.fb-like {
  margin-left: 20px;
  margin-bottom: 10px;
}

.paste-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.canvas-element {
  position: absolute;
  background: #666;

  &.active {
    box-shadow: #36cdd1 0 0 20px;
    border: $canvas-element-border-size dashed #419093;
    margin-left: -$canvas-element-border-size;
    margin-top: -$canvas-element-border-size;
  }
}

.canvas-image {
  background-repeat: no-repeat;
}

.bounds-controller {
  background: #4DCB54;
  display: block;
  width: $bounds-controller-size;
  height: $bounds-controller-size;
  margin-left: - ($bounds-controller-size / 2);
  margin-top: - ($bounds-controller-size / 2);
  cursor: nwse-resize;
  position: absolute;
}

.element-settings {
  font-size: 1.4em;
  position: absolute;
  right: 0;
  top: 0;
  list-style: none;
  padding: 0;
  background: #444;

  li {
    display: inline-block;
    text-align: center;
  }

  li a {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 5px;
  }

  li a:hover {
    background: #222;
  }

  li a.active {
    color: #b8ff7b;
  }

  .setting-remove {
    color: #f60;
  }
}

#app-controller {
  position: absolute;
  top: 0;
  left: 0;

  #canvas-select {
    background: #555;
    border: none;
    color: #C2BE7C;
  }

  .canvas-controller input {
    background: #575757;
    border: none;
    padding: 3px 5px;
    color: #9B9B9B;
    width: 100px;
  }

  .canvas-controller {
    font-size: 0.9em;
    margin-top: 5px;
    padding-left: 5px;
  }

  .btn-canvas {
    color: #C8DA2C;
    background: #444;
    padding: 1px 4px;
    display: inline-block;

    &:hover {
      background: #555;
    }

    &.canvas-remove {
      color: #C35454;
    }
  }
}

#navigation-main {
  background-color: #333333;

  font-size: 1.0em;

  h1 {
    color: #a8cc51;
    font-weight: bold;
    font-size: 1.3em;
    margin: 0;
  }

  .nav-item {
    display: inline-block;
    padding: 5px;
  }

}

#image-resolver {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  .backdrop {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }

  .da-logo {
    float: right;
  }

  .content {
    position: absolute;
    width: 700px;
    top: 20%;
    left: 50%;
    margin-left: -350px;
    background: #303030;
    padding: 20px 30px;
  }

  .input {
    margin: 10px 0;
    position: relative;
    font-size:1.2em;

    img {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .buttons {
    font-size: 1.3em;

    .add-button {
      @include button-variant(#fff, #6e8839, #6e8839);
      margin-left: 10px;
    }

  }

  input {
    width: 100%;
    background:#383838;
    color: #7f7f7f;
    padding: 10px;
    border: none;
  }
}

#version {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size:0.8em;
}

#credits {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size:0.8em;
}

#app-info {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 400px;
  font-size: 0.9em;
  ul {
    padding-left: 20px;
  }
}

#notification-controller {
  position: absolute;
  top: 60px;
  left: 4px;
  font-size: 0.9em;

  .notifications {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    background: #616B6F;
    color: #C1C1C2;
    padding: 3px 5px;
    margin-top: 5px;
    max-width: 200px;
    border-radius: 3px;
  }

  li.error {
    background: #EA6262;
    color: #fff;
  }

  li.warning {
    background: #E2D8A3;
    color: #8a6d3b;
  }

  li.success {
    background: #48BB53;
    color: #FFFFFF;
  }

}

.btn-add-image {
  //  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  @include button-variant(#DAEFBA, #728347, #728347);
  padding: 3px 8px;
}

.btn-save {
//  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  @include button-variant(#fff, #59771a, #59771a);
}